@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg,
    #0b1c38 0%,
  #0f1419 100%);
    color: #b8c5d6;
    font-family: "Nunito Sans" , Arial, Helvetica, sans-serif;
}

/* Benner Section */
.top-banner{
    text-align: center;
    font-family: "Inter";
    font-weight: bold;
    height: 60px;
    background: linear-gradient(135deg,
    #f08206 0%,
  #eec407 100%);
    color: black;
    padding: 20px;
}

/* ======== NAVIGATION ================= */
.navbar{
    background-color:#1f2a3f;
}
.navbar a{
    display: inline-block;
}