@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F9F9F7;
    font-family: "Inter", sans-serif;
    line-height: 1.6;
    min-height: 100vh;
}
:is(h1,h2,h3,h4){
    font-family: "Montserrat";
    font-weight: 700;

}
.site-header{
    background-color: #FCFCFB;
    border-bottom: 2px solid #e1e1df;
    padding: 15px 30px;
    top: 0;
    position: sticky;
    z-index: 99999;
    overflow: auto;
}

/* ======= MAIN HEADLINE ======== */
.site-header .site-header__title{
    background: linear-gradient(to right, #111827, #2D1E18);
    color: transparent;
    background-clip: text;
    float: left;
}

/* ============  NAVBAR ============ */
.site-header .site-header__nav{
    float: right;
}
.site-header .site-header__nav .nav-list{
    list-style: none;
    margin-top: 10px;
}

.site-header .site-header__nav .nav-list li{
    display: inline-block;
    margin-right: 20px;
}
.site-header .site-header__nav .nav-list li a{
    text-decoration: none;
    font-weight: bold;
    color: #1c5aab;
}


/* ========== MAIN CONTENT =========== */

main .page-layout{
    overflow: auto;
}
/* ------- SIDE BAR ----------- */
main .sidebar{
    float: left;
    width: 250px;
    line-height: 2;
    padding: 20px;
    border-right: 2px solid #e1e1df;
    background-color: #FCFCFB;
    margin-right: 40px;
}

main .sidebar .sidebar__title, main .content .sidebar__title{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    color: #747475;
}

/* Side bar list */
main .sidebar .sidebar__list{
    list-style: none;
} 
main .sidebar .sidebar__list li a{
    text-decoration: none;
    font-weight: 400;
    color: #184F95;
}
footer{
    clear: both;
    padding: 20px 0;
    border-top: 2px solid #e1e1df;
    /* margin-top: 100px; */
    text-align: center;
    color: #747475;
}


/* ====== MAIN CONTENT ========= */
main .content{
    background-color: #F8F8F6;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

main .content .content__paragraph{
    margin-top: 40px;
}