@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  background-color: #F8FAFC;
}
:is(h1,h2,h3,h4){
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* ============ Header & Navbar ============ */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    border-bottom: 2px solid #eaeaea;
    padding: 20px 60px;
    position: sticky;
    z-index: 99999;
    top: 0;
}
header .nav_logo{
    flex-shrink: 0;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.4em;
    letter-spacing: 2px;
}
header .navbar_wrap ul{
    display: flex;
    gap: 20px;
    align-items: center;
}