@font-face {
    font-family: Inter;
    src: url('assets/fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
}



/* Background */
body{
    font-family: "Inter",sans-serif;
    background: linear-gradient(135deg,
    #1a2332 0%,
  #0f1419 100%);
    color: #b8c5d6;
    padding: 20px;
}

/* Header */
.judul-utama{
    text-align: center;
    font-size: 3.5em;
    font-family: "Inter";
    font-weight: 900;
    background-image: linear-gradient(to right,#bfc7cc,#e8eef2 );
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0 0 10px rgba(126, 118, 118, 0.8));
}
:is(h2,h3){
    color: #e8eef2;
}
.hero{
    background: linear-gradient(135deg,
    #0f1419 0%,
    #1a2332 50%,
    #0f1419 100%);
    border-radius: 12px;
    padding: 50px;
    text-align: center;
}
/* Navigation */
:is(.hero,.navigasi) a{
    font-family: "Inter";
    text-decoration: none;
    font-weight: bold;
    color: #e8eef2;
    padding: 10px;
    margin: 10px;
}
.logo{
    margin: 10px;
}
:is(.navigasi) a:hover{
    border: none;
    border-radius: 15px;
    background-color: #1d4d5c;
}
.site-header{
    padding: 20px;
    margin-bottom: 40px;
}


/* Hero Section */
.tombol-utama{
    margin: 30px;
    background: linear-gradient(135deg, #00d9ff, #001aff);
    border-radius: 10px;
    
}
.tombol-utama:hover{
    background:linear-gradient(135deg, #00b3ff, #7300ff);
}
.tombol-sekunder{
    border-radius: 10px;
    border: none ;
    box-shadow: 0 0 5px #6da7ff;
    background: #1a2332;

}
.tombol-sekunder:hover{
    background: #243c62;
}