*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aliceblue;
    font-family: sans-serif;
}

.card-product{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    width: 380px;
    height: 780px;
    border: 1px solid rgba(128, 128, 128, 0.269);
    border-radius: 18px;
    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.2);
    
}

img{
    display: block;
    object-position: center;
    object-fit: cover;
    max-height: 280px;
    /* max-width:280px; */
    width: 100%;
    /* margin: auto; */
    /* height: 100%; */
    border-radius: 12px;
}

/* Product Desctription */
/* .product-info{
    margin-top: 15px;
    } */
    .brand-name{
        font-weight: bold;
        color: rgb(40, 107, 233);
        display: block;
        margin-bottom: 12px;
        margin-top: 20px;
    }
    .product-title{
        margin-bottom: 12px;
    }
    
    .product-description{
        line-height: 1.4;
        margin-bottom: 15px;
    }
    .price-box{
        display: block;
        margin: 25px 0 25px 0;
    }
.size-label{
    margin-bottom: 12px;
    font-weight: 600;
}
.size-selection{
    margin-bottom: 25px;
}

/* ======== STYLE PRICE TEXT ======== */
.current-price{
    font-weight: bolder;
    font-size: 1.8em;
}
.slashed-price{
    padding-left: 12px;
    text-decoration: line-through;
}


/* ======= SIZE BUTTON STYLE ======== */
.size-item{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgba(128, 128, 128, 0.269);
    font-weight: bold;
    
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 10px;
    padding: 6px;
}

.add-to-cart{
    height: 50px;
    width: 328px;
    border-radius: 12px;
    border: 0 solid;
    font-weight: bold;
}